# This is a basic workflow to help you get started with Actions

name: OCaml

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ${{ matrix.os }}
    strategy:
      matrix: 
        os: [ windows-latest, ubuntu-latest, macos-latest ]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2

      - name: Setup OCaml
        uses: ocaml/setup-ocaml@v1.1.11
        with:
          ocaml-version: 4.12.0
          opam-depext: false
        
      - name: Setup Dune
        run: opam install dune
        
      - name: Build
        run: opam exec -- dune build ./sppak.exe --release
        
      - name: Rename for Unix-like platform
        if: ${{ runner.os == 'Linux' || runner.os == 'macOS' }}
        run: mv ./_build/default/sppak.exe ./_build/default/sppak
        
      - name: Update Build Artifact
        uses: actions/upload-artifact@v2.2.4
        with:
          name: Sprite Packer for ${{ runner.os }} x64
          path: |
            _build/default/sppak.exe
            _build/default/sppak
          
